<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0"><dict><key>AllowNetworkAccess</key><true/><key>CFBundleDevelopmentRegion</key><string>English</string><key>CFBundleDisplayName</key><string>Gashboard Sample Widget</string><key>CFBundleIdentifier</key><string>com.christroup.gashboard.sample.client</string><key>CFBundleName</key><string>GashboardSample</string><key>CFBundleShortVersionString</key><string>1.0</string><key>CFBundleVersion</key><string>1.0</string><key>CloseBoxInsetX</key><integer>15</integer><key>CloseBoxInsetY</key><integer>15</integer><key>MainHTML</key><string>index.html</string><key>Width</key><integer>280</integer><key>Height</key><integer>380</integer></dict></plist>